.repos-container,
.no-repos {
  margin-top: 2rem;
}

.loading-dialog {
  text-align: center;

  > p {
    margin-top: 120px;
  }

  > img {
    margin-bottom: 120px;
  }
}

.repo-list-summary {
  font-size: 0.8em;
  line-height: 22px;
  margin-bottom: 1rem;
  margin-top: 0;
}